
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AboutUs">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/team.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700;1,900&display=swap" rel="stylesheet"> -->

    <!-- FOnt Awesome -->
    <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
  </head>
<body>
    

  <nav>
    <div class="navbar">
      <div class="logo"><a href="/Home">SafeRoute</a></div>
      <ul class="nav-links">
        <li><a href="/Home">Home</a></li>
        <li><a href="/AboutUs">About</a></li>
        
        <li><a href="/services">Services</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/TeamPage">Our Team </a></li>
      </ul>
      
            <a href="/"><p>Log Out</p></a>
            
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About us </h1>
          <p class="lead text-muted mb-0" style="color:--black">At SmartNavSafe, we redefine urban exploration. 
            Our mission is to empower every city dweller with smart navigation tools and
             robust safety features. From intelligent route planning to real-time crime 
             alerts and SOS assistance, we're not just an app; we're your trusted companion 
             for secure, confident city living. Join us in transforming the way you navigate, 
             ensuring safety is never compromised.</p>
          
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
     
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Features</h2>
          <h4>1.Smart Navigation, Secure Exploration.</h4>
         <p class="font-italic text-muted mb-4"> Navigate cities confidently with our app—smart routes, real-time crime alerts, and instant SOS for an empowered urban experience.
           Safety Redefined:
         </p><br>
         <h4>2. Experience city life fearlessly.</h4>
         <p class="font-italic text-muted mb-4"> Our app blends intelligent navigation with proactive safety features, ensuring your well-being on every journey.
          </p> 
           <br>
           <h4> 3.Beyond Maps.</h4>
         <p class="font-italic text-muted mb-4"> More than navigation, we're your urban safety companion. Explore with peace of mind through innovative routes and emergency support at your fingertips.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
       </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Our dedicated team blends passion with expertise, committed to redefining the future of smart navigation and safety.</p>
        </div>
      </div>
  
      <div class="row">


        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/Vicky.jpg?alt=media&token=80e6ea4a-4103-4fa6-86b2-4ca740c73783" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Vikas</h2>
                    <h3 style="Color:#1ABC9C">Frontend Developer</h3>
                    <p class="font-italic text-muted mb-4">Designing delightful digital interfaces as a frontend wizard.</p>
                    <h4>Vikasumbadwar@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/anant.jpg?alt=media&token=57e5dc0e-57bb-4d67-af3b-23f4068571f4" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Anant</h2>
                    <h3  style="Color:#1ABC9C">Backend Developer</h3>
                    <p class="font-italic text-muted mb-4">Architecting robust and efficient systems as a backend developer.</p>
                    <h4>kolhe2000@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/anuja.jpg?alt=media&token=8ab8b4f2-642f-46cc-aca0-2ab76082d39f" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Anuja</h2>
                    <h3  style="Color:#1ABC9C">Web Designer</h3>
                    <p class="font-italic text-muted mb-4">Crafting visually stunning experiences as a skilled designer.</p>
                    <h4>Panuja@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <!-- End-->
        <div class="bg-white py-5">
          <div class="container py-5">
        <div class="row align-items-center mb-5">
          <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2>Guided By</h2>
            <h5>Prof. Dnyandeo Khemnar</h5>
            <p class="font-italic text-muted mb-4">Guided by the visionary leadership of Prof.Khemnar Sir, our journey is shaped by unparalleled expertise and mentorship, ensuring excellence in every stride. Inspired by his guidance, we navigate towards innovation and success.</p>
          </div>
          <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  
  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
    </div>
  </footer>
</body>
</html>