<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
     <link rel="stylesheet" href="/css/contact.css">
     <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="logo"><a href="/Home">SafeRoute</a></div>
        <ul class="nav-links">
          <li><a href="/Home">Home</a></li>
          <li><a href="/AboutUs">About</a></li>
          
          <li><a href="/services">Services</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="/TeamPage">Our Team </a></li>
        </ul>
        
              <a href="/"><p>Log Out</p></a>
              
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <span class="big-circle"></span>
      <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/shape.png?alt=media&token=bd51ea22-e7ee-45bc-bc78-788cef799349img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Navigating the waves of connection, let's collaborate 
            and make a splash! Reach out, and let's create something 
            extraordinary together. 🌐🤝
          </p>

          <div class="info">
            <div class="information">
              <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/location.png?alt=media&token=7cb97b72-f12c-443b-b7c3-77b305aa81ce" class="icon" alt="" />
              <p>14 Sahara heights, BN 412308</p>
            </div>
            <div class="information">
              <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/email.png?alt=media&token=791038b8-61e1-43ba-9178-d64e2b3c5824" class="icon" alt="" />
              <p>SafeRoute@gmail.com</p>
            </div>
            <div class="information">
              <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/phone.png?alt=media&token=4161b50b-5199-4b25-838d-b1ec04e21475" class="icon" alt="" />
              <p>911877213</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form" >
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="https://formsubmit.co/saferoute193042@gmail.com" method="POST" >
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" placeholder="UserName" class="input" required/>
              
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" required placeholder="email"/>
             
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" required placeholder="phone no"/>
             
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
             
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>