<!DOCTYPE html>
<html>
<head>
    <title>Responsive Our Service Section Design Using Bootstrap 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/services.css">

</head>
<body> 

  <div class="container my-5">
    <section>
      <div class="text-center mb-5 col-md-10 mx-auto">
        <h2 class="font-weight-bold display-4 text-capitalize">Our <span class="text-primary-color">Services</span></h2>
        <p class="mx-5">Smart Navigation, Secure Journey
            Navigate confidently with our intelligent system, ensuring safety through real-time crime clustering and instant SOS alerts – your peace of mind, our priority.</p>
      </div>
      <div class="row">
        <div class="col-md-4 my-4">
          <a href="#" class="text-dark">
            <div class="px-3 py-5">
              <span class="text-uppercase">Services</span>
              <h3 class="text-capitalize my-2 font-weight-600">Empowering your journey with safety</h3>
             <a href="/TeamPage"><button class="btn my-4 px-4 py-2 rounded-pill text-white bg-primary-color">Meet Our Team</button></a>
             <a href="/Contact"><button class="btn my-4 px-4 py-2 rounded-pill text-white bg-primary-color">Reach Out</button></a> 

            </div>
          </a>
        </div>
        <div class="col-md-4 my-4">
          <a href="#" class="text-dark">
            <div class="px-3 py-5 bg-light rounded">
              <div class="text-center">
                <i class="fas fa-chart-area fa-3x mb-3"></i>
              </div>
              <div class="px-3 text-center pb-3">
                <h5 class="text-uppercase font-weight-600"> Crime Clustering Analysis</h5>
                <p class="font-weight-light my-3">The Saferoute system considers various types of crimes, their frequency, and historical patterns to generate a comprehensive safety score for different locations.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 my-4">
          <a href="#" class="text-dark">
            <div class="px-3 py-5 bg-primary-color text-white rounded">
              <div class="text-center">
                <i class="fas fa-chart-area fa-3x mb-3"></i>
              </div>
              <div class="px-3 text-center pb-3">
                <h5 class="text-uppercase font-weight-600">Personal Safety </h5>
                <p class="font-weight-light my-3">Experience personalized safety with our escort services, ensuring you reach your destination securely, backed by real-time monitoring and emergency response.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>