<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up | By Code Info</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/signup.css ">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href="/">SafeRoute</a></div>
      
     
      </div>
    </div>
  </nav>
  <div class="signup-box">
    <h1>Sign Up</h1>
    <h4>It's free and only takes a minute</h4>
    <form onsubmit="signup(event)" id="Mainform">
      <label>First Name</label>
      <input type="text" id="fname" placeholder="First Name" required />
      <label>contact</label>
      <input type="text" id="contact" placeholder="contact" required />
      <label>Email</label>
      <input type="text" id="email" placeholder="email@example.com" required />
      <label>Password</label>
      <input type="password" id="password" placeholder="Password" required />
      <label>Confirm Password</label>
      <input type="password" id="cpassword" placeholder="Confirm Password" required />
      <div id = "button"></div>
      <button class= "signup-button" type="submit">Submit</button>
    </form>
   
    <p>
       
      <a href="#" onclick="showTermsPopup()">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      
    </p>
    
    <span  class = "login-here" style="color: green ">
         Already have an account? <a href="/login" style = "color:blue">login here</a>
    </span>
  
    
  </div>
  
  

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyAOB9l2bh9dTD0MRxi0A9QOZWckIPQFuoE",
      authDomain: "saferoute-407318.firebaseapp.com",
      databaseURL: "https://saferoute-407318-default-rtdb.firebaseio.com",
      projectId: "saferoute-407318",
      storageBucket: "saferoute-407318.appspot.com",
      messagingSenderId: "167829110927",
      appId: "1:167829110927:web:f2d860dbb885bf6d0bb0fa",
      measurementId: "G-TSZ3X00PWY",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    window.signup = function (e) {
      // Get form input elements
      var fullName = document.getElementById('fname');
      var contact = document.getElementById('contact');
      var email = document.getElementById('email');
      var password = document.getElementById('password');
      var copassword = document.getElementById('cpassword');

      if (fullName.value == "" || contact.value == "" || email.value == "" || password.value == "") {
        alert("All Fields Are Required");
        return false;
      }

      if (password.value != copassword.value) {
        alert("Password Confirmation is Wrong");
        return false;
      }

      e.preventDefault();

      // Create user object
      var userObj = {
        firstName: fullName.value,
        contact: contact.value,
        email: email.value,
        password: password.value,
      };

      // Sign up the user
      createUserWithEmailAndPassword(auth, userObj.email, userObj.password)
        .then(function (success) {
          // Redirect to login page after successful signup
          window.location.replace('/login');
          alert("Signup successful");
        })
        .catch(function (err) {
          alert("Error: " + err.message);
        });

      console.log(userObj);
    }
  </script>
</body>
</html>
