<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700;1,900&display=swap" rel="stylesheet">

     <!-- FOnt Awesome -->
     <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/team.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
        <div class="navbar">
          <div class="logo"><a href="/Home">SafeRoute</a></div>
          <ul class="nav-links">
            <li><a href="/Home">Home</a></li>
            <li><a href="/AboutUs">About</a></li>
            
            <li><a href="/services">Services</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/TeamPage">Our Team </a></li>
          </ul>
          
                <a href="/"><p>Log Out</p></a>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="section-title">
            <h1>Our Team </h1>
        </div>

        <div class="row">


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/Vicky.jpg?alt=media&token=80e6ea4a-4103-4fa6-86b2-4ca740c73783" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Vikas</h2>
                        <h3 style="Color:#1ABC9C">Frontend Developer</h3>
                        <p>Designing delightful digital interfaces as a frontend wizard.</p>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/anant.jpg?alt=media&token=57e5dc0e-57bb-4d67-af3b-23f4068571f4" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Anant</h2>
                        <h3  style="Color:#1ABC9C">Backend Developer</h3>
                        <p>Architecting robust and efficient systems as a backend developer.</p>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/saferoute-407318.appspot.com/o/anuja.jpg?alt=media&token=8ab8b4f2-642f-46cc-aca0-2ab76082d39f" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Anuja</h2>
                        <h3  style="Color:#1ABC9C">Web Designer</h3>
                        <p>Crafting visually stunning experiences as a skilled designer.</p>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</body>
</html>