@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --primary-color:#1abc9c;
}
body {
  font-family: "Poppins", sans-serif;
}
a:hover {
  text-decoration: none;
} 
.font-weight-600{
  font-weight: 600;
}
.bg-primary-color{
  background-color:var(--primary-color);
}
.text-primary-color{
  color:var(--primary-color);
}